@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Maven+Pro|Ubuntu');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #000;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

.blogpost {
  font-size: 2em;
  background-color: white;
  font-family: courier;
}

.comment {
  font-size: 1em;
  margin: 20px;
  display: inline-block;
  background-color: white;
  border: 4px solid black; 
}

a:visited { text-decoration: none; color:red; }
a:hover { text-decoration: none; color:blue; }
a:focus { text-decoration: none; color:yellow; }
a:hover, a:active { text-decoration: none; color:black }

.chatarea {
  margin-left: 20%;
  margin-right: 20%;
  margin-top:1em;
  background-color: #f5f5dc;
  border: 4px solid black;
  font-family: courier;
}

.titletext {
  border: 3px solid black;
  margin-left: 30%;
  margin-right: 30%;
  background-color:   #f5f5dc;
}

.blog {
  margin-left: .1em;
  margin-right: .1em;
  margin-bottom:1em;
  background-color: white;
  border: 2px solid black;
  font-family: courier;
  display: inline-block;
}

#input {
  border: 3px solid black;
  display: block;
  margin-left: 31.5%;
}

#name {
  height: 2em;
  margin-bottom: 1em;
  margin-right: 3em;
  margin-left: 0em;
  text-align: left;
  font-size: 15;
}

h1{
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 1em;
  color: white;
  font-size: 50px;
  display: inline-block;
  border: 4px solid white;
}

h5 { 
    display: block;
    font-size: .83em;
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

iframe {
  border: 4px solid white;
  display: inline;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
